{% extends 'base.html' %}

{% block head_title %} Home || {{ block.super }}{% endblock head_title %}

{% block content %}
<h1> Home Page <h1>
		<p> Blog list is coming through </p>

<h2> Blog List </h2>

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>

<ul>
	{% for post in object_list %}
	<li><a href='{{ post.get_absolute_url }}'>{{ post }}</a><br />
		Blog Title : {{ post.title}}<br />
		Author: {{ post.author }}<br />
		Content: {{ post.body }} <br />

		{{post.pub_date}}, {{ post.updates|timesince }} ago </li>
	<br />
	<a href='{{ post.get_absolute_url }}'>Comments: {{ post.approved_comments.count }} </a>
	<br />
	{% endfor %}

</ul>
</div>

{% endblock %}
