{% extends 'base.html' %}

{% block head_title %} Detail || {{ block.super }}{% endblock head_title %}

{% block content %}
<h1> Post Content </h1>

<p> Post Detail coming through </p>

Post Title: {{ object.title }}<br />
Author: {{ object.author}}<br />
Content: {{ object.body }}<br />

{{ object.pub_date }}, {{ object.pub_date|timesince }} ago

<hr>

	<h1> Drop your comment bellow </h1>
	<form method='POST'> {% csrf_token %}
		{{ form.as_p }}
	<button type='submit'> Comment</button>
	</form>


	<br />

{% for comment in post.comments.all %}

{% if comment.approved_comment %}
<div class='comment'>
	<div class='date'>
		{{ comment.created_date }}
		{% if not comment.approved_comment %}
		<a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
		<a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
		{% endif %}
	</div>
	<strong>{{ comment.name }}</strong>
	<p>{{ comment.text|linebreaks }}</p>
</div>

{% endif %}

{% empty %}

<p> No comments here yet </p>

{% endfor %}

{% endblock %}
