<!Doctype html>
<html lang=en>

	<head>
		<title>{% block head_title %} Em-Jay.com {% endblock head_title %}</title>
	</head>

	<body>
		{% include "snippets/nav.html" %}

		<div class='container'>
			{% block content %}

			{% endblock %}
		</div>

	</body>

</html>
